p{
    background-color: yellow;
}
p::after{
    content: "AFTER";
    font-size: large;
    text-transform: capitalize;
    transition: 2s;
}
div {
    height: 150px;
    width: 300px;
    background-image: repeating-linear-gradient(45deg, #9e6df9, #f77656 25%, #5ffc87 50%);
}